/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
COLORS
Main color: #94d82d
Main shade 1: #74b816
Grey color: #212529
Accent color: #868e96
*/

/* GENERAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: #212529;
}

ul {
  list-style: none;
}

.container {
  min-height: 100vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main {
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  flex-grow: 1;

  width: 100%;
}

footer {
  font-size: 12px;
  color: #495057;
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #66a80f;
  color: #f4fce3;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-delete-all-blends {
  font-size: 12px;
}

.blend-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 90%;
}

.blend-list-item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.blend-string {
  background-color: #f4fce3;
  padding: 4px 8px;
  flex-grow: 1;

  cursor: pointer;
  position: relative;
}

.copied-status {
  color: #f76707;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(10%, 110%);
}

.btns-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btns-main {
  width: 100%;
  gap: 24px;
}

.btns-blend-list {
  font-size: 12px;
  gap: 8px;
}

.btns-blend-list .btn {
  font-size: 12px;
  padding: 6px 12px;
}

/* FLAVOR MODAL */
.modal {
  position: absolute;
  width: 50%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 10%);
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.confirmation {
  gap: 16px;
  padding: 16px 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 142, 150, 0.1);
  backdrop-filter: blur(2px);
  z-index: 5;
}

/* BOTTLE COUNT */
.bottle-count-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottle-count {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottle-count-num {
  font-size: 18px;
}

.bottle-count-change {
  width: 20px;
  height: 20px;
  stroke: #212529;
}

.bottle-count-change:hover {
  cursor: pointer;
  /* stroke: #fff;
  fill: #212529; */
}

/* FLAVORS */
.flavors {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flavors select {
  padding: 4px 8px;
  text-align: center;
  border-radius: 8px;
  /* display: block; */
}

.flavor-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flavor-options li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.flavor-options select {
  text-align: left;
}

.incomplete-input {
  font-size: 12px;
  color: #e03131;
  align-self: center;
  margin-top: -4px;
}

.modal-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hidden {
  display: none;
}
